<h1>Bill Zhang's web app</h1>
<h2>About the developer</h2>
<p class="text-center fs-2 text-primary">I am a third year undergraduate student at brandeis</p><br>
<!-- class="text-center fs-2 text-primary" -->
<p>This is a picture of my dog</p>
<img style="margin-left: 10%;" src="https://github.com/Kehzh/SomeImages/blob/main/MyDog.jpg?raw=true" width="200"
  alt="my pet image" />

<hr>
<table class="table table-bordered table-striped table-blue">
  <thead>
    <tr>
      <th>my hobby</th>
      <th>my favorite food</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>skiing</td>
      <td>ramen</td>
    </tr>
    <tr>
      <td>photography</td>
      <td>foie gras</td>
    </tr>
    <tr>
      <td>videogame</td>
      <td>pork belly</td>
    </tr>
  </tbody>
</table>