<div class="row">
    <div class="col-sm-5">
        <h2>Login</h2>
        <form method="post" action="/login">
            username: <input type="text" autocomplete="username" name="username"><br>
            passphrase: <input type="password" autocomplete="passphrase" name="passphrase"><br>
            <input type="submit">
        </form>
    </div>

    <div class="col-sm-2" style="text-align:center">
        <a class="d-flex flex-column flex-lg-row justify-content-center align-items-center mb-4 text-dark text-decoration-none"
            href="/signup">
            <strong class="d-sm-inline-block p-2 me-2 mb-2 mb-lg-0 rounded-3 masthead-nootice">Signup</strong>
        </a>
    </div>
</div>