<h1>Describe your dog</h1>
<form method="post" action="/missingDogInfo">
    Date: <input type="date" name="date"><br>
    Time: <input type="time" name="time"><br>
    Street Address: <input type="text" name="address"><br>
    zipcode: <input type="text" name="zipcode"><br>
    Breed: <input type="text" name="breed"><br>
    <input type="submit">
</form>